<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>giant_side_walk_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{122,131}</string>
                <key>spriteSourceSize</key>
                <string>{122,131}</string>
                <key>textureRect</key>
                <string>{{566,244},{122,131}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>giant_side_walk_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{89,143}</string>
                <key>spriteSourceSize</key>
                <string>{89,143}</string>
                <key>textureRect</key>
                <string>{{744,376},{89,143}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>giant_side_walk_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{63,145}</string>
                <key>spriteSourceSize</key>
                <string>{63,145}</string>
                <key>textureRect</key>
                <string>{{905,376},{63,145}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>giant_side_walk_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,143}</string>
                <key>spriteSourceSize</key>
                <string>{72,143}</string>
                <key>textureRect</key>
                <string>{{833,376},{72,143}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>giant_side_walk_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{85,138}</string>
                <key>spriteSourceSize</key>
                <string>{85,138}</string>
                <key>textureRect</key>
                <string>{{207,376},{85,138}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>giant_side_walk_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{107,132}</string>
                <key>spriteSourceSize</key>
                <string>{107,132}</string>
                <key>textureRect</key>
                <string>{{790,244},{107,132}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>giant_side_walk_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{117,127}</string>
                <key>spriteSourceSize</key>
                <string>{117,127}</string>
                <key>textureRect</key>
                <string>{{891,117},{117,127}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>giant_side_walk_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,122}</string>
                <key>spriteSourceSize</key>
                <string>{108,122}</string>
                <key>textureRect</key>
                <string>{{366,117},{108,122}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>giant_side_walk_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{78,122}</string>
                <key>spriteSourceSize</key>
                <string>{78,122}</string>
                <key>textureRect</key>
                <string>{{474,117},{78,122}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>giant_side_walk_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{78,125}</string>
                <key>spriteSourceSize</key>
                <string>{78,125}</string>
                <key>textureRect</key>
                <string>{{813,117},{78,125}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>giant_side_walk_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{82,130}</string>
                <key>spriteSourceSize</key>
                <string>{82,130}</string>
                <key>textureRect</key>
                <string>{{290,244},{82,130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>giant_side_walk_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{102,131}</string>
                <key>spriteSourceSize</key>
                <string>{102,131}</string>
                <key>textureRect</key>
                <string>{{688,244},{102,131}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>giant_under_walk_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{147,113}</string>
                <key>spriteSourceSize</key>
                <string>{147,113}</string>
                <key>textureRect</key>
                <string>{{131,0},{147,113}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>giant_under_walk_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{139,116}</string>
                <key>spriteSourceSize</key>
                <string>{139,116}</string>
                <key>textureRect</key>
                <string>{{667,0},{139,116}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>giant_under_walk_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{124,122}</string>
                <key>spriteSourceSize</key>
                <string>{124,122}</string>
                <key>textureRect</key>
                <string>{{552,117},{124,122}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>giant_under_walk_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{109,132}</string>
                <key>spriteSourceSize</key>
                <string>{109,132}</string>
                <key>textureRect</key>
                <string>{{897,244},{109,132}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>giant_under_walk_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{97,137}</string>
                <key>spriteSourceSize</key>
                <string>{97,137}</string>
                <key>textureRect</key>
                <string>{{110,376},{97,137}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>giant_under_walk_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{92,139}</string>
                <key>spriteSourceSize</key>
                <string>{92,139}</string>
                <key>textureRect</key>
                <string>{{383,376},{92,139}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>giant_under_walk_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{89,139}</string>
                <key>spriteSourceSize</key>
                <string>{89,139}</string>
                <key>textureRect</key>
                <string>{{475,376},{89,139}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>giant_under_walk_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{92,130}</string>
                <key>spriteSourceSize</key>
                <string>{92,130}</string>
                <key>textureRect</key>
                <string>{{372,244},{92,130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>giant_under_walk_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{97,118}</string>
                <key>spriteSourceSize</key>
                <string>{97,118}</string>
                <key>textureRect</key>
                <string>{{0,117},{97,118}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>giant_under_walk_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{113,113}</string>
                <key>spriteSourceSize</key>
                <string>{113,113}</string>
                <key>textureRect</key>
                <string>{{278,0},{113,113}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>giant_under_walk_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{131,111}</string>
                <key>spriteSourceSize</key>
                <string>{131,111}</string>
                <key>textureRect</key>
                <string>{{0,0},{131,111}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>giant_under_walk_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{142,113}</string>
                <key>spriteSourceSize</key>
                <string>{142,113}</string>
                <key>textureRect</key>
                <string>{{391,0},{142,113}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>giant_upper_walk_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{85,141}</string>
                <key>spriteSourceSize</key>
                <string>{85,141}</string>
                <key>textureRect</key>
                <string>{{564,376},{85,141}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>giant_upper_walk_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{95,141}</string>
                <key>spriteSourceSize</key>
                <string>{95,141}</string>
                <key>textureRect</key>
                <string>{{649,376},{95,141}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>giant_upper_walk_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,132}</string>
                <key>spriteSourceSize</key>
                <string>{110,132}</string>
                <key>textureRect</key>
                <string>{{0,376},{110,132}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>giant_upper_walk_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{125,119}</string>
                <key>spriteSourceSize</key>
                <string>{125,119}</string>
                <key>textureRect</key>
                <string>{{97,117},{125,119}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>giant_upper_walk_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{137,123}</string>
                <key>spriteSourceSize</key>
                <string>{137,123}</string>
                <key>textureRect</key>
                <string>{{676,117},{137,123}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>giant_upper_walk_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{143,127}</string>
                <key>spriteSourceSize</key>
                <string>{143,127}</string>
                <key>textureRect</key>
                <string>{{0,244},{143,127}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>giant_upper_walk_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{147,127}</string>
                <key>spriteSourceSize</key>
                <string>{147,127}</string>
                <key>textureRect</key>
                <string>{{143,244},{147,127}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>giant_upper_walk_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{144,121}</string>
                <key>spriteSourceSize</key>
                <string>{144,121}</string>
                <key>textureRect</key>
                <string>{{222,117},{144,121}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>giant_upper_walk_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{134,114}</string>
                <key>spriteSourceSize</key>
                <string>{134,114}</string>
                <key>textureRect</key>
                <string>{{533,0},{134,114}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>giant_upper_walk_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{119,117}</string>
                <key>spriteSourceSize</key>
                <string>{119,117}</string>
                <key>textureRect</key>
                <string>{{806,0},{119,117}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>giant_upper_walk_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{102,130}</string>
                <key>spriteSourceSize</key>
                <string>{102,130}</string>
                <key>textureRect</key>
                <string>{{464,244},{102,130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>giant_upper_walk_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{91,138}</string>
                <key>spriteSourceSize</key>
                <string>{91,138}</string>
                <key>textureRect</key>
                <string>{{292,376},{91,138}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>giantwalk.png</string>
            <key>size</key>
            <string>{1008,521}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:fa148f0d1de7511744019fbf5def708a:59e3243bcf288aadc99d00b2a5af3561:80d4d4e7453c7d3c6fbd071d54259e53$</string>
            <key>textureFileName</key>
            <string>giantwalk.png</string>
        </dict>
    </dict>
</plist>
