<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>barbarian_side_attack_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{47,67}</string>
                <key>spriteSourceSize</key>
                <string>{47,67}</string>
                <key>textureRect</key>
                <string>{{345,0},{47,67}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>barbarian_side_attack_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{47,67}</string>
                <key>spriteSourceSize</key>
                <string>{47,67}</string>
                <key>textureRect</key>
                <string>{{392,0},{47,67}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>barbarian_side_attack_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{62,89}</string>
                <key>spriteSourceSize</key>
                <string>{62,89}</string>
                <key>textureRect</key>
                <string>{{360,439},{62,89}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>barbarian_side_attack_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,89}</string>
                <key>spriteSourceSize</key>
                <string>{64,89}</string>
                <key>textureRect</key>
                <string>{{422,439},{64,89}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>barbarian_side_attack_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,77}</string>
                <key>spriteSourceSize</key>
                <string>{70,77}</string>
                <key>textureRect</key>
                <string>{{319,281},{70,77}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>barbarian_side_attack_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{59,98}</string>
                <key>spriteSourceSize</key>
                <string>{59,98}</string>
                <key>textureRect</key>
                <string>{{393,528},{59,98}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>barbarian_side_attack_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,69}</string>
                <key>spriteSourceSize</key>
                <string>{96,69}</string>
                <key>textureRect</key>
                <string>{{254,67},{96,69}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>barbarian_side_attack_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,108}</string>
                <key>spriteSourceSize</key>
                <string>{42,108}</string>
                <key>textureRect</key>
                <string>{{197,626},{42,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>barbarian_side_attack_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,108}</string>
                <key>spriteSourceSize</key>
                <string>{46,108}</string>
                <key>textureRect</key>
                <string>{{239,626},{46,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>barbarian_side_attack_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{47,67}</string>
                <key>spriteSourceSize</key>
                <string>{47,67}</string>
                <key>textureRect</key>
                <string>{{439,0},{47,67}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>barbarian_side_attack_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,68}</string>
                <key>spriteSourceSize</key>
                <string>{68,68}</string>
                <key>textureRect</key>
                <string>{{0,67},{68,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>barbarian_side_attack_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{106,74}</string>
                <key>spriteSourceSize</key>
                <string>{106,74}</string>
                <key>textureRect</key>
                <string>{{317,207},{106,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>barbarian_side_attack_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{93,69}</string>
                <key>spriteSourceSize</key>
                <string>{93,69}</string>
                <key>textureRect</key>
                <string>{{350,67},{93,69}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>barbarian_side_attack_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,94}</string>
                <key>spriteSourceSize</key>
                <string>{80,94}</string>
                <key>textureRect</key>
                <string>{{58,528},{80,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>barbarian_side_attack_15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,72}</string>
                <key>spriteSourceSize</key>
                <string>{130,72}</string>
                <key>textureRect</key>
                <string>{{0,207},{130,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>barbarian_side_attack_16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{125,72}</string>
                <key>spriteSourceSize</key>
                <string>{125,72}</string>
                <key>textureRect</key>
                <string>{{130,207},{125,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>barbarian_side_attack_17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{109,71}</string>
                <key>spriteSourceSize</key>
                <string>{109,71}</string>
                <key>textureRect</key>
                <string>{{296,136},{109,71}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>barbarian_side_attack_18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{92,70}</string>
                <key>spriteSourceSize</key>
                <string>{92,70}</string>
                <key>textureRect</key>
                <string>{{204,136},{92,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>barbarian_side_attack_19.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{83,69}</string>
                <key>spriteSourceSize</key>
                <string>{83,69}</string>
                <key>textureRect</key>
                <string>{{0,136},{83,69}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>barbarian_side_attack_20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{63,68}</string>
                <key>spriteSourceSize</key>
                <string>{63,68}</string>
                <key>textureRect</key>
                <string>{{68,67},{63,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>barbarian_under_attack_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{45,63}</string>
                <key>spriteSourceSize</key>
                <string>{45,63}</string>
                <key>textureRect</key>
                <string>{{109,0},{45,63}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>barbarian_under_attack_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{45,63}</string>
                <key>spriteSourceSize</key>
                <string>{45,63}</string>
                <key>textureRect</key>
                <string>{{154,0},{45,63}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>barbarian_under_attack_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{53,65}</string>
                <key>spriteSourceSize</key>
                <string>{53,65}</string>
                <key>textureRect</key>
                <string>{{244,0},{53,65}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>barbarian_under_attack_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{58,90}</string>
                <key>spriteSourceSize</key>
                <string>{58,90}</string>
                <key>textureRect</key>
                <string>{{0,528},{58,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>barbarian_under_attack_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{57,83}</string>
                <key>spriteSourceSize</key>
                <string>{57,83}</string>
                <key>textureRect</key>
                <string>{{113,439},{57,83}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>barbarian_under_attack_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,71}</string>
                <key>spriteSourceSize</key>
                <string>{72,71}</string>
                <key>textureRect</key>
                <string>{{405,136},{72,71}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>barbarian_under_attack_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,79}</string>
                <key>spriteSourceSize</key>
                <string>{64,79}</string>
                <key>textureRect</key>
                <string>{{68,358},{64,79}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>barbarian_under_attack_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{114,80}</string>
                <key>spriteSourceSize</key>
                <string>{114,80}</string>
                <key>textureRect</key>
                <string>{{132,358},{114,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>barbarian_under_attack_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{121,69}</string>
                <key>spriteSourceSize</key>
                <string>{121,69}</string>
                <key>textureRect</key>
                <string>{{83,136},{121,69}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>barbarian_under_attack_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{45,63}</string>
                <key>spriteSourceSize</key>
                <string>{45,63}</string>
                <key>textureRect</key>
                <string>{{199,0},{45,63}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>barbarian_under_attack_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{59,85}</string>
                <key>spriteSourceSize</key>
                <string>{59,85}</string>
                <key>textureRect</key>
                <string>{{231,439},{59,85}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>barbarian_under_attack_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{59,113}</string>
                <key>spriteSourceSize</key>
                <string>{59,113}</string>
                <key>textureRect</key>
                <string>{{364,626},{59,113}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>barbarian_under_attack_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{66,96}</string>
                <key>spriteSourceSize</key>
                <string>{66,96}</string>
                <key>textureRect</key>
                <string>{{186,528},{66,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>barbarian_under_attack_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,66}</string>
                <key>spriteSourceSize</key>
                <string>{48,66}</string>
                <key>textureRect</key>
                <string>{{297,0},{48,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>barbarian_under_attack_15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{73,100}</string>
                <key>spriteSourceSize</key>
                <string>{73,100}</string>
                <key>textureRect</key>
                <string>{{72,626},{73,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>barbarian_under_attack_16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,99}</string>
                <key>spriteSourceSize</key>
                <string>{72,99}</string>
                <key>textureRect</key>
                <string>{{0,626},{72,99}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>barbarian_under_attack_17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,88}</string>
                <key>spriteSourceSize</key>
                <string>{70,88}</string>
                <key>textureRect</key>
                <string>{{290,439},{70,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>barbarian_under_attack_18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{71,75}</string>
                <key>spriteSourceSize</key>
                <string>{71,75}</string>
                <key>textureRect</key>
                <string>{{179,281},{71,75}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>barbarian_under_attack_19.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{62,58}</string>
                <key>spriteSourceSize</key>
                <string>{62,58}</string>
                <key>textureRect</key>
                <string>{{0,0},{62,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>barbarian_under_attack_20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{47,60}</string>
                <key>spriteSourceSize</key>
                <string>{47,60}</string>
                <key>textureRect</key>
                <string>{{62,0},{47,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>barbarian_upper_attack_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,81}</string>
                <key>spriteSourceSize</key>
                <string>{44,81}</string>
                <key>textureRect</key>
                <string>{{246,358},{44,81}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>barbarian_upper_attack_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,81}</string>
                <key>spriteSourceSize</key>
                <string>{44,81}</string>
                <key>textureRect</key>
                <string>{{290,358},{44,81}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>barbarian_upper_attack_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{52,106}</string>
                <key>spriteSourceSize</key>
                <string>{52,106}</string>
                <key>textureRect</key>
                <string>{{145,626},{52,106}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>barbarian_upper_attack_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{63,74}</string>
                <key>spriteSourceSize</key>
                <string>{63,74}</string>
                <key>textureRect</key>
                <string>{{423,207},{63,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>barbarian_upper_attack_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{62,72}</string>
                <key>spriteSourceSize</key>
                <string>{62,72}</string>
                <key>textureRect</key>
                <string>{{255,207},{62,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>barbarian_upper_attack_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,81}</string>
                <key>spriteSourceSize</key>
                <string>{70,81}</string>
                <key>textureRect</key>
                <string>{{334,358},{70,81}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>barbarian_upper_attack_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{91,96}</string>
                <key>spriteSourceSize</key>
                <string>{91,96}</string>
                <key>textureRect</key>
                <string>{{252,528},{91,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>barbarian_upper_attack_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{115,74}</string>
                <key>spriteSourceSize</key>
                <string>{115,74}</string>
                <key>textureRect</key>
                <string>{{0,281},{115,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>barbarian_upper_attack_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{113,82}</string>
                <key>spriteSourceSize</key>
                <string>{113,82}</string>
                <key>textureRect</key>
                <string>{{0,439},{113,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>barbarian_upper_attack_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,81}</string>
                <key>spriteSourceSize</key>
                <string>{44,81}</string>
                <key>textureRect</key>
                <string>{{404,358},{44,81}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>barbarian_upper_attack_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{51,68}</string>
                <key>spriteSourceSize</key>
                <string>{51,68}</string>
                <key>textureRect</key>
                <string>{{131,67},{51,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>barbarian_upper_attack_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,68}</string>
                <key>spriteSourceSize</key>
                <string>{72,68}</string>
                <key>textureRect</key>
                <string>{{182,67},{72,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>barbarian_upper_attack_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,74}</string>
                <key>spriteSourceSize</key>
                <string>{64,74}</string>
                <key>textureRect</key>
                <string>{{115,281},{64,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>barbarian_upper_attack_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{79,111}</string>
                <key>spriteSourceSize</key>
                <string>{79,111}</string>
                <key>textureRect</key>
                <string>{{285,626},{79,111}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>barbarian_upper_attack_15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,78}</string>
                <key>spriteSourceSize</key>
                <string>{68,78}</string>
                <key>textureRect</key>
                <string>{{0,358},{68,78}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>barbarian_upper_attack_16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,77}</string>
                <key>spriteSourceSize</key>
                <string>{72,77}</string>
                <key>textureRect</key>
                <string>{{389,281},{72,77}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>barbarian_upper_attack_17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{69,76}</string>
                <key>spriteSourceSize</key>
                <string>{69,76}</string>
                <key>textureRect</key>
                <string>{{250,281},{69,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>barbarian_upper_attack_18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{61,83}</string>
                <key>spriteSourceSize</key>
                <string>{61,83}</string>
                <key>textureRect</key>
                <string>{{170,439},{61,83}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>barbarian_upper_attack_19.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,96}</string>
                <key>spriteSourceSize</key>
                <string>{50,96}</string>
                <key>textureRect</key>
                <string>{{343,528},{50,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>barbarian_upper_attack_20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,94}</string>
                <key>spriteSourceSize</key>
                <string>{48,94}</string>
                <key>textureRect</key>
                <string>{{138,528},{48,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>barbarianattack.png</string>
            <key>size</key>
            <string>{486,739}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f592d526dc3f21a9b3d468afe8a4c45b:db38fa5fa31a8328a75b0c9e674dcf99:f88caed51d5a25b79a5054dcbb866925$</string>
            <key>textureFileName</key>
            <string>barbarianattack.png</string>
        </dict>
    </dict>
</plist>
